### Exercise #1

In [1]:
weight <- c(60, 72, 57, 90, 95, 72) 
height <- c(1.75, 1.80, 1.65, 1.90, 1.74, 1.91)
bmi <- weight/height^2 
standard_deviation <- function(x) {
  s <- 0
  avg <- mean(x)
  n <- length(x)
  for (i in 1:n) {
    s <- s + (x[i] - avg)^2
  }
  s <- s/(n-1)
  s <- s^(1/2)
  return(s)
}

standard_deviation(bmi)

standard_deviation <- function(x) {
  avg <- mean(x)  
  s <- (x - avg)^2
  n <- length(x)
  s <- sum(s) / (n-1)
  s <- s^(1/2)
  return(s)
}

standard_deviation(bmi)

standard_deviation <- function(x) {
  x <- sd(x)
  return(x)
}

standard_deviation(bmi)

[1] 4.493165

[1] 4.493165

[1] 4.493165

### exercise #2

In [2]:
bmi_factor <- function(bmi) {
  bmi <- cut(bmi, breaks=c(0, 20, 25, .Machine$double.xmax), ordered=TRUE)
  levels(bmi) <- c("small", "medium", "large")
  return(bmi)
}

bmi_fac <- bmi_factor(bmi)
bmi_fac

[1] small  medium medium medium large  small
Levels: small < medium < large

### exercise #3

In [3]:
wh <- matrix(c(weight, height),nrow=length(weight))
wh

     [,1] [,2]
[1,] 60   1.75
[2,] 72   1.80
[3,] 57   1.65
[4,] 90   1.90
[5,] 95   1.74
[6,] 72   1.91

### exercise #4

In [4]:
A <- matrix(c(1,9,5,3,7,8,10,4,2), nrow=3, byrow=TRUE)
A
det(A)

     [,1] [,2] [,3]
[1,]  1   9    5
[2,]  3   7    8
[3,] 10   4    2

[1] 358

In [5]:
y <- c(2,1,3)
Ay <- A * y
Ay

     [,1] [,2] [,3]
[1,]  2   18   10
[2,]  3    7    8
[3,] 30   12    6

In [6]:
y <- c(2,1,3)
Ay <- A %*% y
Ay

     [,1]
[1,] 26
[2,] 37
[3,] 30

### exercise #5

In [7]:
lbmi <- list(weight = weight, height = height, bmi = bmi)
lbmi

$weight
[1] 60 72 57 90 95 72

$height
[1] 1.75 1.80 1.65 1.90 1.74 1.91

$bmi
[1] 19.59184 22.22222 20.93664 24.93075 31.37799 19.73630

### exercise 6

In [8]:
bmi.df <- data.frame(weight=weight, height=height)
bmi.df$bmi <- bmi.df$weight/bmi.df$height^2 
write.table(bmi.df, file="bmi.csv", row.names=FALSE, quote = FALSE, sep = ",")
head(bmi.df[1.7 < bmi.df$height & bmi.df$height < 1.9,])

  weight height bmi
1 60     1.75   19.59184
2 72     1.80   22.22222
5 95     1.74   31.37799

### Exercise #7

In [9]:
compute_bmi <- function(vec) {
  bmi <- vec[2]/vec[1]^2 
  return(bmi)
}

start_time <- Sys.time()
hw <- data.frame(height=rnorm(100000, 1.8, sd=0.2), weight=rnorm(100000, 72, sd=15))
hw$bmi <- apply(as.matrix(hw), 1, compute_bmi)
end_time <- Sys.time()
end_time - start_time

Time difference of 0.68577 secs

### Exercise #8

In [10]:
hw <- data.frame(height=rnorm(100000, 1.8, sd=0.2), weight=rnorm(100000, 72, sd=15))
o <- order(hw$height)
hw <- hw[o,]
head(hw)

      height    weight
33837 0.9065140 62.53133
84812 0.9314868 75.88736
6326  0.9431296 83.10379
6116  0.9621238 68.96801
58984 0.9871830 64.04676
71692 0.9932242 52.99345

### Exercise #9

In [11]:
library(dplyr)
hw <- data.frame(height=rnorm(100000, 1.8, sd=0.2), weight=rnorm(100000, 72, sd=15))
result <- hw %>% filter(height > 1.7 & height < 1.9) %>% summarize(mean=mean(weight))
head(result)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  mean
1 72.0243

### Exercise #10

In [12]:
timetable <- read.table(text = "Date DepTime Departure ArrTime Arrival
                     06/01/2021 10:00 Lacey 11:00 Seattle
                     06/01/2021 10:00 Lacey 11:00 Portland
                     06/01/2021 11:00 Seattle 12:00 Lacey
                     06/01/2021 11:00 Seattle 12:00 Lacey
                     07/01/2021 10:00 Lacey 11:00 Seattle
                     07/01/2021 10:00 Lacey 11:00 Portland
                     07/01/2021 11:00 Seattle 12:00 Lacey
                     07/01/2021 11:00 Seattle 12:00 Lacey",
                          header = TRUE,sep = "")  
head(timetable)

weather <- read.table(text = "Date Time City Weather
                     06/01/2021 10:00 Lacey Raining
                     06/01/2021 10:00 Portland Clouded
                     06/01/2021 10:00 Seattle Sunny
                     06/01/2021 11:00 Lacey Sunny
                     06/01/2021 11:00 Portland Clouded
                     06/01/2021 11:00 Seattle Raining
                     06/01/2021 12:00 Lacey Raining
                     06/01/2021 12:00 Portland Clouded
                     06/01/2021 12:00 Seattle Sunny
                     07/01/2021 10:00 Lacey Sunny
                     07/01/2021 10:00 Portland Clouded
                     07/01/2021 10:00 Seattle Raining
                     07/01/2021 11:00 Lacey Raining
                     07/01/2021 11:00 Portland Clouded
                     07/01/2021 11:00 Seattle Sunny
                     07/01/2021 12:00 Lacey Raining
                     07/01/2021 12:00 Portland Clouded
                     07/01/2021 12:00 Seattle Sunny", header = TRUE,sep = "")        
head(weather)

timeweather <- merge(timetable, weather, by.x=c("Date", "DepTime", "Departure"), by.y=c("Date", "Time", "City"))

timeweather <- merge(timeweather, weather, by.x=c("Date", "ArrTime", "Arrival"), by.y=c("Date", "Time", "City"))

colnames(timeweather)[6:7] <- c("DepWeather", "ArrWeather")

head(timeweather)

  Date       DepTime Departure ArrTime Arrival
1 06/01/2021 10:00   Lacey     11:00   Seattle
2 06/01/2021 10:00   Lacey     11:00   Portland
3 06/01/2021 11:00   Seattle   12:00   Lacey
4 06/01/2021 11:00   Seattle   12:00   Lacey
5 07/01/2021 10:00   Lacey     11:00   Seattle
6 07/01/2021 10:00   Lacey     11:00   Portland

  Date       Time  City     Weather
1 06/01/2021 10:00 Lacey    Raining
2 06/01/2021 10:00 Portland Clouded
3 06/01/2021 10:00 Seattle  Sunny
4 06/01/2021 11:00 Lacey    Sunny
5 06/01/2021 11:00 Portland Clouded
6 06/01/2021 11:00 Seattle  Raining

  Date       ArrTime Arrival  DepTime Departure DepWeather ArrWeather
1 06/01/2021 11:00   Portland 10:00   Lacey     Raining    Clouded
2 06/01/2021 11:00   Seattle  10:00   Lacey     Raining    Raining
3 06/01/2021 12:00   Lacey    11:00   Seattle   Raining    Raining
4 06/01/2021 12:00   Lacey    11:00   Seattle   Raining    Raining
5 07/01/2021 11:00   Portland 10:00   Lacey     Sunny      Clouded
6 07/01/2021 11:00   Seattle  10:00   Lacey     Sunny      Sunny